.speech-bubble__wrapper {
  width: 100%;
  margin: 15px 0;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  .speech-bubble__img {
    top: 0;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-top: 0;
    margin-bottom: auto;
  }
  .speech-bubble__text {
    flex: 1;
    overflow-wrap: break-word;
    margin: 0 10px;
    padding: 10px;
    font-size: $sm;
    border-radius: 5px;
    opacity: 0.8;
    &.tutor {
      box-shadow: 0 0 9px 0 rgba(122, 93, 232, 0.15);
    }
    &.student {
      color: $white;
      background: $purple;
      margin-right: 0;
    }
    &.active {
      opacity: 1;
    }
  }
  .speech-bubble__time {
    font-size: $sm;
    color: $gray;
  }
}
