.word-card__wrapper {
  background: $purple;
  color: $white;
  border-radius: 5px;
  width: fit-content;
  max-width: 300px;
  overflow-wrap: break-word;
  padding: 5px 10px;
  font-size: $sm;
  display: inline-block;
  margin: 3px;
}
